/**
 * Main module
 */

.main {
  &-image-wrapper {
  }

  &-image {
  }

  &-text-wrapper {
  }

  &-text {
  }

  &-icon {
    display: block;
    @extend .svg-icon-full-stack-developer;
    @extend .svg-icon-full-stack-developer-dims;
    color: #000;
    width: 500px;
    background-color: resdfsdfsdfsdd;
  }
}
